<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.system.mapper.AlumnaMapper">

    <resultMap type="com.jl.system.domain.Alumna" id="AlumnaResult">
        <result property="alumnaId" column="alumna_id"/>
        <result property="idfNo" column="idf_no"/>
        <result property="identity" column="identity"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="idCard" column="id_card"/>
        <result property="birthday" column="birthday"/>
        <result property="graduateTime" column="graduate_time"/>
        <result property="mobile" column="mobile"/>
        <result property="nickName" column="nick_name"/>
        <result property="address" column="address"/>
        <result property="email" column="email"/>
        <result property="qq" column="qq"/>
        <result property="industry" column="industry"/>
        <result property="itwork" column="itwork"/>
        <result property="dept" column="dept"/>
        <result property="company" column="company"/>
        <result property="university" column="university"/>
        <result property="position" column="position"/>
        <result property="profession" column="profession"/>
        <result property="education" column="education"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>